:root {
    --white: #FFFFFF;
    --white-1: #F7F7F7;
    --black: #000000;
    --blue: #08A6E4;
    --blue-1: #07ACE6;
    --blue-2: #07ACE629;
    --blue-3: #13253B;
    --red: #FB3B64;
    --red-1: #EB476E;
    --red-2: #FF091129;
    --red-3: #F9043629;
    --green: #55DFB4;
    --grey: #707070;
    --grey-1: #95989A;
    --grey-2: #A5A5A5;
    --grey-3: #00000029;
    --grey-4: #E8E9ED;
}

 html, body {
    font-size: 16rem;
 }